<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static  "css/input.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static  "css/addfilm.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static  "css/inputpage.css" %}" type="text/css">
    <title>Add Film</title>
</head>

<body style="height: 1200px;">
    <div id="content">
        <a href="{% url 'home' %}">
            <p id="home">Главная</p>
        </a>
        <form action="" method="post">
            <h1>Добавление фильма</h1>
            <h3>ID фильма:</h3>
            <input type="text" name="id">
            <h3>Название фильма:</h3>
            <input type="text" name="name">
            <h3>Название кинотеатра</h3>
            <input type="text" name="cinemas">
            <h3>Жанры фильма:</h3>
            <input type="text" name="genre">
            <h3>Краткое описание фильма:</h3>
            <input type="text" name="description">
            <h3>Относительный адрес изображения:</h3>
            <input type="text" name="image">
            <h3>Продолжительность фильма:</h3>
            <input type="text" name="duration">
            <h3>Возрастное ограничение:</h3>
            <input type="text" name="agerating">
            <div><input id="buttom" type="submit" value="Добавить"></div>
            <img id="ITMO-img" src="{% static "images/main-aut.png" %}" />
        </form>
    </div>
    <footer id="footer"></footer>
</body>

</html>