<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static  "css/input.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static  "css/delact.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static  "css/inputpage.css" %}" type="text/css">
    <title>Delete Actor</title>
</head>

<body>
    <div id="content">
        <a href="{% url 'home' %}">
            <p id="home">Главная</p>
        </a>
        <form action="" method="post">
            <h1>Удаление актера:</h1>
            <h3>Полное имя актера:</h3>
            <input type="text" name="full_name">
            <h3>Название кинотеатра:</h3>
            <input type="text" name="cinemaName">
            <h3>Название фильма:</h3>
            <input type="text" name="filmName">
            <div><input id="buttom" type="submit" value="Удалить"></div>
            <img id="ITMO-img" src="{% static "images/main-aut.png" %}" />
        </form>
    </div>
    <footer id="footer"></footer>
</body>

</html>