<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static  "css/input.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static  "css/lo.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static  "css/inputpage.css" %}" type="text/css">
    <title>Login</title>
</head>

<body>
    <div id="content">
        <a href="{% url 'home' %}">
            <p id="home">Главная</p>
        </a>
        <form action="" method="post">
            <h1>Авторизация</h1>
            <h3>Введите логин:</h3>
            <input type="text" name="login">
            <h3>Введите пароль:</h3>
            <input type="password" name="password">
            <div id="box"><input id="buttom" type="submit" value="Вход"></div>
            <img id="ITMO-img" src="{% static "images/main-aut.png" %}" />
        </form>
    </div>
    <footer id="footer"></footer>
</body>

</html>